@{
    ViewData["Title"] = "Assignment";
}

<h2>Assignment</h2>

<hr />

<div>
    <p>
        Top 5 stocks selection criteria:

        <br />
        <br />

        We have modified the API to extract the list of top 20 stocks which have seen the highest
        gain in price (high - low). 
        <br />
        From that list we have selected the top 5 stocks that have the highest percentage change in price.
        <br />
        Furthermore, below are additional important indicators to better understand stock performance :

        <ul style="list-style-type:disc">
            <li>Change Percent - percent change of stock price sorted in a descending order.</li>
            <li>Change - dollar value change of stock price </li>
            <li>High - current high value of a stock price </li>
            <li>PE ratio - The price-earnings ratio is the ratio for valuing a company that measures its current share price relative to its per-share earnings.</li>
            <li>YTD Change - Year-to-Date change of the stock price in percentage</li>
            <li>52 Week High - A 52-week high is the highest that a stock has traded at during the previous year.</li>
            <li>52 Week Low - A 52-week low is the lowest that a stock has traded at during the previous year.</li>
        </ul>

   
    </p>
</div>