@{
    ViewData["Title"] = "Assignment";
}

<h2>Assignment</h2>

<hr />

<div>
    <p>
        Top 5 stocks selection criteria:

        <br />
        <br />

        We have modified the API to extract the list of top 5 stocks which have seen the highest
        percent gain in price (high - low). We have used the following information to illustrate stock performance:

        <ul style="list-style-type:disc">
            <li>Change Percent - stocks that show the biggest change percent in price.</li>
            <li>Change - dollar value of change in price </li>
            <li>High - the current high price of the stock </li>
            <li>
                PE ratio - The price-earnings ratio (P/E ratio) is the ratio for valuing a company that measures its current share price relative to its per-share earnings.
            </li>
            <li>High - the current high price of the stock </li>
        </ul>

        From that list we selected the top 5 stocks which have
        the highest percent change in price.

    </p>
</div>