@{
    ViewData["Title"] = "Assignment";
}

<h2>Assignment</h2>

<hr />

<div>
    <p>
        Top 5 stocks selection criteria:

        <br />
        <br />

        We have modified the API to extract the list of top 20 stocks which have seen the highest
        gain in price (high - low).
        <br />
        From that list we identified the stocks that have the highest percentage change in price and selected the top 5 stocks.
        <br />
        Furthermore, we extracted the below mentioned variables for each stock, these variables/ratios are important indicators to better understand the stock performance:

        <ul style="list-style-type:disc">
            <li>Change Percent - percent change of stock price sorted in a descending order.</li>
            <li>Change - dollar value change of stock price </li>
            <li>High - current high value of a stock price </li>
            <li>PE ratio - The price-earnings ratio is the ratio for valuing a company that measures its current share price relative to its per-share earnings.</li>
            <li>YTD Change - Year-to-Date change of the stock price in percentage</li>
            <li>52 Week High - A 52-week high is the highest that a stock has traded at during the previous year.</li>
            <li>52 Week Low - A 52-week low is the lowest that a stock has traded at during the previous year.</li>
        </ul>
        <br />
        Self Reflection:
        <br />
        While working on this assignment we developed an understanding of the functionality and work flow of the MVC framework.
        <br />
        For our stock picking strategy we modified the stock API provided by the IEXTrading website to obtain detailed variables and
        <br />
        ratios such as PE Ratio, Year to date Change in value, 52 week high ~ low values. We stored this information in the
        <br />
        database and selected the top 5 best performing stocks on the basis of highest change in percentage which shows that the
        <br />
        respective stock has been growing in value and when compared with the rest of the ratios our strategy provides a sound
        <br />
        understanding about the value of the company. Furthermore, we created new action methods and view models to store the list
        <br />
        of stocks which we selected as per our strategy which improved our understanding of the MVC framework.


    </p>
</div>