@{
    ViewData["Title"] = "Assignment";
}

<h2>Assignment</h2>

<hr />

<div>
    <p>
     Top 5 stocks: We modified the API to extract the list of top 20 stocks which have seen the highest
     gain i.e. change in price (high - low). From that list we selected the top 5 stocks which have
     the high  est percent change in price.
    </p>
</div>