body {
    background-color: #001f3f;
    background-image: url("https://previews.123rf.com/images/komokvm/komokvm1803/komokvm180300005/97125079-stock-market-chart-as-a-background-for-the-site.jpg");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 3px solid;
}

.nav-bar a {
    background-color: white;
    color: #04e9f8;
    font-size: x-large;
    text-align: center;
    padding: 12px 10px;
    opacity: 1;
    border: 3px solid #0c0f1c;
    display: inline-block;
    border-radius: 20px;
}

.nav-bar > a {
    text-decoration: none;
    color: inherit;
}

td {
    padding: 10px;
}

table {
    border-spacing: 10px;
    border-collapse: separate;
}
